<nav class="top">
    <div class="nav-list rapper">
        <ul class="nav-links">
            <li><%= link_to 'about', main_app.about_index_path %></li>
            <li><%= link_to 'blog', main_app.stories_path %></li>
            <li class="logoli">
                <div class="top-logo">
                    <%= logo %>
                </div>
            </li>
            <li>
                <%= link_to 'shop', spree.root_path %>
                <ul class="aisles">
                    <% @taxonomies.each do |taxonomy| %>
                        <li>
                           <!--<%= taxonomy.name %> -->
                           <%= shop_tree(taxonomy.root, @taxon, 1) %> 
                        </li>
                    <% end %>
                </ul>
            
            </li>
            <li><%= link_to 'lookbook', main_app.lookbook_index_path %></li>
        </ul>
    </div>
    <ul class="login">
        <%= render :partial=> 'spree/shared/login_bar' %>
    </ul>
    <ul class="cart">
        <li id="link-to-cart" data-hook>
            <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
            </noscript>
            &nbsp;
        </li>
        <script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
    </ul>

</nav>