<nav class="top">
    <div class="nav-list rapper">
        <ul class="nav-links">
            <li><%= link_to 'about', main_app.about_index_path %></li>
            <li>blog</li>
            <li class="logoli">
                <div class="top-logo">
                    <%= logo %>
                </div>
            </li>
            <li>
                <%= link_to 'shop', spree.root_path %>
                <ul class="aisles">
                    <% @taxonomies.each do |taxonomy| %>
                        <li>
                           <%= taxonomy.name %> 
                           <%= shop_tree(taxonomy.root, @taxon, 1) %> 
                        </li>
                    <% end %>
                </ul>
            
            </li>
            <li><%= link_to 'lookbook', main_app.lookbook_index_path %></li>
        </ul>
    </div>
</nav>