
<%= form_for @story, multipart: true do |f| %>
  <% if @story.errors.any? %>
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>
      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Title', class: 'story-title' %>
    <%= f.text_field :title, required: true %>
  </div>
  
  <div class="field">
      <%= f.text_area :body, class: 'story-body' %>
  </div>
  
  <div class="field file-field">
    <%= f.file_field :image %>
  </div>
  

  <div class="field">
    <%= f.submit class: 'button', value: 'goodtogo' %>
  </div>
<% end %>